body {
    
    /* Old browsers */
    background: #5e6672;

    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(-45deg, #35577D, #141E30); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(-45deg, #35577D, #141E30); */
    
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

.outer {
    width: 200px;
    height: 400px;
}

.header {

    height: 50px;
    background: black;
    text-align: center;
    vertical-align: center;
    color: greenyellow;
}

.professorlist {
    
    width: 200px;
    height: 325px;
    clear: both;

    position: fixed;
    overflow: auto;

    color: #FFFFFF;
}

.footer {
    position: relative;
    margin-top: 325px;

    font-size: 8px;
    font-family: monospace;
    text-align: center;
    vertical-align: middle;
    color: black;
}

button {
    height: 30px;
    width: 30px;
    outline: none;
    /* h-align: center; */
  }